.button {
  padding: 12px 32px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.button:disabled {
  cursor: default;
}

.filled {
  background: var(--appBlue);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--appWhite);
}

.filled:hover {
  background: var(--darkBlue);
}

.filled:active {
  background: var(--appBlue);
  box-shadow: 0px 4px 4px rgba(92, 135, 219, 0.15);
  color: rgba(255, 255, 255, 0.5);
}

.filled:disabled {
  background: var(--appGray);
}
